/* Write your CSS here */
.list-item {
  border: 1px solid #b5b7c4;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
}
@media screen and (min-width: 768px) {
  .list-item {
    max-width: 30%;
  }
}
.title-star-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.para {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
}
.star-button {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.date-text {
  color: #b5b7c4;
  font-size: 12px;
  font-family: 'Roboto';
}
